@model RegisterVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
            <div class="card rounded-3 text-black">
                <div class="row g-0">
                    <div class="col-lg-6">
                        <div class="card-body p-md-5 mx-md-4">

                            <div class="text-center">
                                <img src="~/img/loginImg.jpg"
                                     style="width: 185px;" alt="logo">
                                <h4 class="mt-1 mb-5 pb-1">Takım Yönetim Merkezi</h4>
                            </div>

                            <form asp-action="Login">
                                <div asp-validation-summary="ModelOnly" class="text-danger small"></div>


                                <div class="form-outline mb-4">
                                    <span asp-validation-for=" email" class="text-danger small"></span>
                                    <input asp-for=" email" type="email" class="form-control"
                                           placeholder="Email Adress" />
                                    <label class="form-label" asp-for=" email">User Email</label>

                                </div>

                                <div class="form-outline mb-4">
                                    <span asp-validation-for="password" class="text-danger small"></span>
                                    <input asp-for="password" type="password" class="form-control" placeholder="*******" />
                                    <label class="form-label" asp-for="password">Password</label>

                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary col-12 gradient-custom-2 mb-3" type="submit">
                                        Log
                                        in
                                    </button>
                                    <br />
                                    <a class="text-muted" href="#!">Forgot password?</a>
                                </div>

                                <div class="d-flex align-items-center justify-content-center pb-4">
                                    <p class="mb-0 me-2">Don't have an account?</p>
                                    <button type="button" class="btn btn-outline-danger ml-1">Create new</button>
                                </div>

                            </form>

                        </div>
                    </div>
                    <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                        <div class="card-body p-md-5 mx-md-4">
                            <form asp-action="Register">
                                <div asp-validation-summary="ModelOnly" class="text-warning small"></div>

                                <div class="row justify-content-between">
                                    <div class="form-outline col-6 mb-2">
                                        <span asp-validation-for="firstName" class="text-warning small"></span>
                                        <input asp-for=" firstName" type="text" class="form-control"
                                               placeholder="" />
                                        <label class="form-label" asp-for=" firstName">Adı</label>

                                    </div>
                                    <div class="form-outline col-6 mb-2">
                                        <span asp-validation-for="lastName" class="text-warning small"></span>
                                        <input asp-for=" lastName" type="text" class="form-control"
                                               placeholder="" />
                                        <label class="form-label" asp-for=" lastName"> Soyadı</label>

                                    </div>
                                </div>

                                <div class="form-outline mb-2">
                                    <span asp-validation-for=" phone" class="text-warning small"></span>
                                    <input asp-for="phone" type="text" class="form-control"
                                           placeholder="000 000 0000" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" />
                                    <label class="form-label" asp-for="phone">Telefon</label>

                                </div>

                                

                                <div class="form-outline mb-2">
                                    <span asp-validation-for="email" class="text-warning small"></span>
                                    <input asp-for=" email" type="email" class="form-control"
                                           placeholder="Email Adress" />
                                    <label class="form-label" asp-for=" email">Email</label>

                                </div>

                                <div class="form-outline mb-2">
                                    <span asp-validation-for="password" class="text-warning small"></span>
                                    <input asp-for="password" type="password" class="form-control" placeholder="*******" />
                                    <label class="form-label" asp-for="password">Password</label>

                                </div>

                                <div class="form-outline mb-2">
                                    <span asp-validation-for="repassword" class="text-warning small"></span>
                                    <input asp-for="repassword" type="password" class="form-control" placeholder="*******" />
                                    <label class="form-label" asp-for="repassword">Re-Password</label>

                                </div>

                                <div class="text-center pt-1 mb-5 pb-1">
                                    <button class="btn btn-primary col-12 gradient-custom-2 mb-3" type="submit">
                                        Sign
                                        up
                                    </button>
                                    <br />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

